.filter_name_form {
  display: flex;
  margin-right: 2em;
}

.filter_name_form_input {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  display: block;
  border: none;
  padding: 0 0.7em;
  width: 12em;
  background-color: white;
  border-radius: 0.5em 0 0 0.5em;
}

.filter_name_form_button {
  box-sizing: border-box;
  font-family: inherit;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  display: block;
  border: none;
  padding: 0.5em 0;
  width: 8em;
  height: 2.5em;
  background-color: #616161;
  color: white;
  border-radius: 0 0.5em 0.5em 0;
  transition: transform 100ms ease,
              box-shadow 100ms ease;
}

.filter_name_form_button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0.5em #0005;
}

