.welcome{
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
}

.welcome__h2 {
  font-size: 1rem;
  text-align: right;
  margin-right: 0.8em;
}

.welcome__button {
  box-sizing: border-box;
  font-family: inherit;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  display: block;
  border: none;
  padding: 0.5em 0;
  width: 7em;
  height: 2.5em;
  background-color: white;
  color: #fa4006;
  border-radius: 0.5em;
  transition: transform 100ms ease,
              box-shadow 100ms ease;
              margin-right: 2em;

}

.welcome__button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0.5em #0005;
}
